.MMM-euro2024-table td,
.MMM-euro2024-table th {
  padding: 0 0.2rem;
}

.MMM-euro2024-table th {
  text-align: center;
}

.MMM-euro2024-FINISHED {
  opacity: 0.8;
}

.MMM-euro2024-FINISHED .MMM-euro2024-score {
  font-weight: bolder;
}

.MMM-euro2024-PAUSED,
.MMM-euro2024-IN_PLAY {
  opacity: 1;
}

.MMM-euro2024-PAUSED .MMM-euro2024-score,
.MMM-euro2024-IN_PLAY .MMM-euro2024-score{
  animation: pulsate 4s ease-in-out infinite;
  color: red;
}

.MMM-euro2024-SCHEDULED,
.MMM-euro2024-TIMED {
  opacity: 0.3;
}

.MMM-euro2024-awayTeam {
  text-align: left;
}

.MMM-euro2024-homeTeam {
  text-align: right;
}

.MMM-euro2024-date,
.MMM-euro2024-time-group,
.MMM-euro2024-referee {
  font-size: smaller;
  background-color: #6666663a;
  text-align: center;
  font-size: smaller;
}

.MMM-euro2024-referee {
  background: transparent;
  color: var(--color-text);
}

.MMM-euro2024-header {
  font-size: 12px;
  margin: 0;
  text-align: right;
  line-height: 1.5rem;
}

.MMM-euro2024-footer {
  font-size: 12px;
  margin: 0;
  border-top: 1px solid var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MMM-euro2024-footer-right,
.MMM-euro2024-footer-left {
  flex: 0 1 100%;
}

.MMM-euro2024-footer-right {
  text-align: right;
}

.MMM-euro2024-footer-left {
  text-align: left;
}

.MMM-euro2024-footer-version,
.MMM-euro2024-footer-dates {
  display: inline-block;
  max-width: 100%;
}
.MMM-euro2024-footer-version {
  margin-left: 0.5rem;
}

.MMM-euro2024-footer-dates {
  margin-right: 0.5rem;
}

.MMM-euro2024-footer-version-update {
  color: gold;
}

@keyframes pulsate {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}
